.brand-logo{
    margin-left: 10px;
}
.sidenav-trigger{
    display: none;
}
.start{
    display: none;
}
.error-continue,
.error-start,
.error-modal-editinfo{
    display: none;
}
.continue{
    display: none;
}
.stats{
    display: none;
    margin-bottom: 50px;
}
.showtable{
    overflow-x: auto;
    text-align: center;
}
th, td{
    border: 1px solid rgba(0,0,0,0.12) !important;
    text-align: center !important;
}
tr.cursor{
    cursor: pointer;
}
tr.selected{
    font-weight: bold;
    color: #ee6e73;
}
.exportoptions{
    margin-bottom: 20px;
    display: none;
}
.exportoptions i{
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}
.hidden{
    visibility: hidden;
}
.lk-logo{
    width: 80%;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.lk-logo:hover{
    transform: scale(0.97);
}
@media only screen and (min-width:700px){
    .lk-logo{
        width: 50%;
    }
}