.brand-logo{
    margin-left: 10px;
}
.sidenav-trigger{
    display: none;
}
.start{
    display: none;
}
.error-continue,
.error-start,
.error-modal-editinfo{
    display: none;
}
.continue{
    display: none;
}
.stats{
    display: none;
    margin-bottom: 50px;
}
.showtable{
    overflow-x: auto;
    text-align: center;
}
th, td{
    border: 1px solid rgba(0,0,0,0.12) !important;
    text-align: center !important;
}
tr.cursor{
    cursor: pointer;
}
tr.selected{
    font-weight: bold;
    color: #ee6e73;
}
.exportoptions{
    margin-bottom: 20px;
    display: none;
}
.exportoptions i{
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}
.hidden{
    visibility: hidden;
}
.lk-logo{
    width: 80%;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.lk-logo:hover{
    transform: scale(0.97);
}
@media only screen and (min-width:700px){
    .lk-logo{
        width: 50%;
    }
}
.installprompt{
    margin: 0 !important;
    background-color: #304ffe ;
    color: #fafafa;
    height: 65px;
    width: 100%;
    display: none;
}
.ip-flex{
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.installprompt p{
    margin: 0 !important;
    font-weight: bold;
}
.ip-el{
    margin: 20px;
}
.ip-close{
    margin-left: 10px;
    cursor: pointer;
}
.ip-el:nth-child(3){
    margin-left: auto;
}
@media only screen and (max-width:450px){
    .installprompt{
        height: 75px;
    }
}
@media only screen and (max-width:340px){
    .installprompt{
        height: 90px;
    }
}
.ios-share-img{
    position: relative;
    top: 4px;
}
@media print {
    body * {
      visibility: hidden;
    }
    #toprint, #toprint * {
      visibility: visible;
    }
    #toprint {
      position: absolute;
      left: 0;
      top: 0;
    }
}
.error{
    color: #f44336;
    text-align: center;
}
.progress{
    margin: 0 !important;
    padding: 0;
}